.dropdownMobileMenu {
    overflow: hidden;
    transition: all .5s;
}
.dropdownMobileMenu_item {
    background-color: var(---secondary-color);
    border-bottom: 1px solid var(---primary-color);
}
.dropdownMobileMenu_item:first-child {
    border-top: 1px solid var(---primary-color);
}
.dropdownMobileMenu_item a {
    font-size: 18px;
    padding-left: 30px;
}
.dropdownMobileMenu_item a:hover {
    background-color: var(---primary-color);
}