.multiLevelMenu {
    position: absolute;
    background-color: #fff;
    top: 50px;
    border: 1px solid #eee;
    width: 180px;
    z-index: 100;
}
.multiLevelMenu::before{
    content: '';
    display: table;
    position: absolute;
    height: 30px;
    width: 30px;
    border: 1px solid #eee;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: -1;
    top: -8px;
    margin-left: 20px;
}
.multiLevelMenu .multiLevelMenu_item a {
    color: var(---gray-color);
    font-size: 16px;
    line-height: 25px;
    padding: 12px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.multiLevelMenu .multiLevelMenu_item a:hover {
    background-color: var(---primary-color);
    color: #fff;
}

.multiLevelMenu .multiLevelMenu_item:hover > .subMenu {
    display: block;
}

/* submenu */
.subMenu {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    width: 180px;
    left: 100.4%;
    margin-top: -50px;
    border: 1px solid #eee;
    display: none;
}